.Outcontainer {
  width: 800px;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  display: flex;
  background: lightgray;
}

.leftContainer {
  width: 600px;
  padding: 0 0 0 20px;
}

.rightContainer {
  width: 200px;
  margin: 0 0 0 20px;
  background: gray;
}

.title, .dateAuthor {
  text-align: left;
}

.title {
  font-family: Eagle Lake, sans serif, "Times New Roman";
  font-size:48px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  line-height: 60px;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 8px;
}

.dateAuthor, .photo1, .photo2, .foot, .owl1{
  font-family: Titillium Web;
}

.foot {
  font-style: italic;
}

.snowy {
  margin: 5px 5px 5px 5px;
}

.pink, .blue, .green, .orange, .yellow, .purple, .red{
  width: 20px;
  height: 40px;
  display: flex
}

.blue, .green, .orange, .yellow, .purple, .red {
  margin: 5px;
}

.pink {
  margin: 20px 0 0 5px;
  background: plum;
}

.blue {
  background: skyblue;
}

.green {
  background: darkgreen;
}

.red {
  background: crimson;
}

.orange {
  background: orange;
}

.yellow {
  background: lightyellow;
}

.purple {
  background: purple;
}

.sideContainer {
  display: flex;
}

.Text {
  width: 115px;
  padding: 10px 0 0 10px;
  text-decoration: underline;
  color: blue;
  line-height: 28.5px;
  text-transform: capitalize;
}

.p1 {
  text-indent: 20px;
  font-size: 120%;
}

.ad1 {
  padding: 20px 0 20px 20px;
  background: black;
}

.owl1, .owl2, .owl3, .owl4, .randomFox {
  position: relative;
  margin: 20px 0 0 0;
  top: 50px;
  left: 30px;
}
