.robot {
  position: relative;
  width: 500px;
  margin: 50px auto;
}

.head {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.head {
  position: absolute;
  width: 100px;
  height: 100px;
  background: skyblue;
}

.hairBallL, .hairBallT, .hairBallR {
  width: 20px;
  height: 20px;
  background: forestgreen;
  position: absolute;
  margin: auto;
  border-radius: 50%;
}

.hairBallL {
  left: -15px;
  top: 25px;
}

.hairBallT {
  left: 0;
  right: 0;
  top: -15px;
}

.hairBallR {
  right: -15px;
  top: 25px;
}

.hairL, .hairT, .hairR {
  width: 50px;
  height: 10px;
  background color: navyblue;
}
