.neck, .hairBallL, .hairBallR, .hairBallT, .waist, .shoulderL, .shoulderR, .elbowL, .elbowR, .handL, .handR, .hipL, .hipR, .kneeL, .kneeR, .ankleL, .ankleR {
  background: orange;
}

.chest, .pelvis, .upArmL, .upArmR, .lowArmL, .lowArmR, .thighL, .thighR, .calfR, .calfL {
  background: navy;
}

.hairL, .hairT, .hairR, .footL, .footR{
  background: purple;
}

.robot {
  position: relative;
  width: 500px;
  margin: 100px auto;
}

.head {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}
.head {
  position: absolute;
  width: 100px;
  height: 100px;
  background: navy;
}

.hairBallL, .hairBallT, .hairBallR {
  width: 20px;
  height: 20px;
  position: absolute;
  margin: auto;
  border-radius: 50%;
}

.hairBallL {
  left: -15px;
  top: 25px;
}

.hairBallT {
  left: 0;
  right: 0;
  top: -15px;
}

.hairBallR {
  right: -15px;
  top: 25px;
}

.hairL, .hairR {
  width: 75px;
  height: 10px;
  position: absolute;
  margin: auto;
}

.hairL {
  left: -80px;
  top: 30px;
}

.hairR {
  right: -80px;
  top: 30px;
}

.hairT {
  width: 10px;
  height: 75px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: -80px;
}

.eyeL, .eyeR {
  width: 20px;
  height: 18px;
  background: lightyellow;
  position: absolute;
  margin: auto;
  top: 25px;
}

.eyeL {
  left: 15px;
}

.eyeR {
  right: 15px;
}

.mouth {
  background: crimson;
  width: 40px;
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 70px;
}

.neck {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 90px;
}

.chest, .waist, .pelvis, .neck {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.chest {
  width: 125px;
  height: 90px;
  top: 125px;
}

.waist {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  top: 200px;
}

.pelvis {
  width: 115px;
  height: 50px;
  top: 260px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.shoulderL, .shoulderR, .elbowL, .elbowR {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 110px;
}

.shoulderL {
  left: 165px;
}

.shoulderR {
  right: 165px;
}

.upArmR, .upArmL {
  width: 150px;
  height: 30px;
  position: absolute;
  top: 115px;
  margin: auto;
}

.upArmL {
  left: 25px;
}

.upArmR {
  right: 25px;
}

.elbowR {
  right: 0;
}

.lowArmL, .lowArmR {
  position: absolute;
  margin: auto;
}

.lowArmL {
  width: 25px;
  height: 160px;
  top: -40px;
  left: 8px;
}

.lowArmR {
  width: 160px;
  height: 25px;
  top: 118px;
  right: -150px;
}

.handL, .handR {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: auto;
}

.handL {
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  top: -90px;
  left: -10px;
}

.handR {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 100px;
  right: -200px;
}

.hipL, .hipR {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 285px;
}

.hipL {
  left: 165px;
}

.hipR {
  right: 165px;
}

.thighL, .thighR {
  width: 40px;
  height: 150px;
  position: absolute;
  margin: auto;
  top: 325px;
}

.thighL {
  left: 173px;
}

.thighR {
  right: 173px;
}

.kneeL, .kneeR {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 460px;
}

.kneeL {
  left: 173px;
}

.kneeR {
  right: 173px;
}

.calfL, .calfR {
  position: absolute;
  margin: auto;
  width: 35px;
  height: 150px;
  top: 475px;
}

.calfL {
  left: 176px;
}

.calfR {
  right: 176px;
}

.ankleR, .ankleL {
  position: absolute;
  margin: auto;
  width: 30px;
  height: 30px;
  top: 610px;
  border-radius: 50%;
}

.ankleL {
  left: 188px;
}

.ankleR {
  right: 188px;
}

.footL, .footR {
  position: absolute;
  margin: auto;
  width: 90px;
  height: 35px;
  top: 605px;
}

.footL {
  left: 121px;
}

.footR {
  right: 121px;
}
