.firstContainer {
  width: 960px;
  height: 570px;
  background: pink; /*temp background*/
}

.firstSpace {
  width: 960px;
  height: 130px;
}

.secondContainer {
  width: 960px;
  height: 570px;
  background: orange; /*temp background*/
}

.secondSpace {
  width: 960px;
  height: 130px;
}

.thirdContainer {
  width: 960px;
  height: 570px;
  background: purple; /*temp background*/
}
