/*First Container*/
.firstContainer {
  width: 960px;
  height: 570px;
  border-style: solid;
  margin-left: 18%;
}

.redGreen {
  width: 960px;
  height: 370px;
  display: flex;
}

.blueYellow {
  width: 960px;
  height: 200px;
  display: flex;
}

.redBox {
  background: red;
  width: 200px;
  height: 200px;
  margin: 0px 560px 0px 0px;
}

.greenBox {
  background: green;
  width: 200px;
  height: 200px;
}

.blueBox {
  background: blue;
  width: 200px;
  height: 200px;
  margin: 0px 560px 0px 0px;
}

.yellowBox {
  background: yellow;
  width: 200px;
  height: 200px;
  position: absolute;
}

.firstSpace {
  width: 960px;
  height: 130px;
}

/*Second Container*/
.secondContainer {
  width: 960px;
  height: 570px;
  border-style: solid;
  display: flex;
  margin-left: 18%;
}

.redRec {
  width: 240px;
  height: 570px;
  background: red;
}

.greenRec {
  width: 240px;
  height: 570px;
  background: green;
}

.blueRec {
  width: 240px;
  height: 570px;
  background: blue;
}

.yellowRec {
  width: 240px;
  height: 570px;
  background: yellow;
}

.secondSpace {
  width: 960px;
  height: 130px;
}

/*Third Container*/
.thirdContainer {
  width: 960px;
  height: 570px;
  border-style: solid;
  margin-left: 18%;
}

.redHolder {
  width: 960;
  height: 160;
}

.topRed {
  background: red;
  width: 920px;
  height: 120px;
  margin: 20px;
}

.greenBlueHolder {
  width: 960px;
  height: 415px;
  display: flex;
}

.leftGreen {
  background: green;
  height: 395px;
  width: 175px;
  margin: 0px 20px 20px 20px;
}

.rightBlue {
  background: blue;
  height: 395;
  width: 730px;
  margin: 0px 20px 20px 0px;
}
