.firstContainer {
  background: gray;
  height: 100px;
  display: flex;
}

a {
  position: relative;
  height: 20px;
  top: 40%;
  margin: 0 0 0 20px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
  cursor: pointer;
}

a:visited {
  color: purple;
}

.logo {
  background: purple;
  height: 70px;
  width: 170px;
  position: absolute;
  right: 0px;
  margin: 12px 25px;
}

.secondContainer {
  text-align: center;
  height: 350px;
}

h1 {
  margin: 60px 0 30px 0;
}

.textSC {
  width: 450px;
  position: relative;
  margin: auto;
}

.priceButton, .priceBut {
  border: solid;
  width: 150px;
  padding: 5px;
  position: relative;
  margin: auto;
  top: 8%;
}

.priceButton:hover, .viewFbutton:hover, priceBut:hover {
  cursor: pointer;
}

.thirdContainer {
  display: flex;
  padding: 0 10px 0 10px;
}

.feature1, .feature2, .feature3, .feature4{
  height: 450px;
  width: 250px;
  position: relative;
  margin: auto;
}

.f1Pic, .f2Pic, .f3Pic, .f4Pic {
  width: 250px;
  height: 250px;
}

.f1Text, .f2Text, .f3Text, .f4Text {
  text-align: center;
}

.fourthContainer {
  padding: 20px 10px 0 10px;
  height: 400px;
  display: flex;
}

.leftSide {
  margin: 0 10px 0 0;
}

.bigImage {
  background:purple;
  height: 300px;
  width: 500px;
  margin: 20px;
}

.viewFbutton {
  border: solid;
  text-align: center;
  width: 150px;
  padding: 5px 10px 5px 10px;
  margin: 30px 0 0 0;
}

.viewFbutton:hover {
  cursor: pointer;
}

.topHalf, .bottomHalf {
  display: flex;
  margin: 40px 20px;
}

.f1, .f2, .f3, .f4 {
  margin: 0px 40px 0 20px;
  width: 50%;
}

.containerThree, .containerFour, .textBelow5Pics {
  text-align: center;
  padding: 20px;
}

.containerFour {
  display: flex;
}

.textBelow5Pics {
  margin: 15px 400px 20px 400px; 
}

.priceBut {
  text-align: center;
}
