.firstContainer {
  background: gray;
  height: 100px;
  display: flex;
}

.link1, .link2, .link3, .link4 {
  position: relative;
  height: 20px;
  top: 40%;
  margin: 0 0 0 20px;
}

.link1:hover, .link2:hover, .link3:hover, .link4:hover {
  color: blue;
  cursor: pointer;
}

.logo {
  border: solid;
  height: 70px;
  width: 170px;
  position: absolute;
  right: 0px;
  margin: 12px 25px;
}

.secondContainer {
  height: 500px;
}

.thirdContainer {
  height: 300px;
}

.fourthContainer {
  height: 400px;
}

.lastContainer {
  height: 100px;
}

.secondContainer {
  text-align: center;
}

h1 {
  margin: 50px 0 20px 0;
}

.textSC {
  width: 450px;
  position: relative;
  margin: auto;
}

.priceButton {
  border: solid;
  width: 150px;
  padding: 5px;
  position: relative;
  margin: auto;
  top: 5%;
}

.priceButton:hover {
  cursor: pointer;
}
